main {
   background-image:linear-gradient(rgba(133, 132, 132, 0.21), rgba(139, 139, 139, 0.8)),url(/assets/fondos/fondo1.jpg);  
   padding-top: 7%;
   padding-bottom: 7%;
   width: 100vw;
}

.angry-grid {
   display: grid;
   gap: 20px;
   align-items: baseline;
   justify-content: center;
   justify-items: center;
   
}

.img-div img {
    width: 85%; /* Ajustar la imagen al contenedor */
    height: auto;
    text-align: center;
    border-radius: 20px;
}


#item-0 {
   background-color: rgba(0, 0, 0, 0.252);
   border-radius: 20px;
   width: 50%;
   text-align: center;
   color: rgba(48 239 188);
   padding: 15px;

}

#item-1 {
   width: 60%;
   text-align: center;
  
}

#item-2 {
   width: 60%;
   padding: 20px;
   background-color: rgba(216, 216, 216, 0.232);
   font-size: 22px;
   border-radius: 20px;
}


