main {
   background-image:linear-gradient(rgba(30, 185, 144, 0.647), rgba(0, 0, 0, 0.953)),url(src/assets/fondos/fondoMain.png);
   padding-top: 7%;
   padding-bottom: 7%;
   width: 100vw;
}

.angry-grid {
   display: grid;
   gap: 20px;
   align-items: baseline;
   justify-content: center;
   justify-items: center;
   
}

.img-div img {
    width: 85%; /* Ajustar la imagen al contenedor */
    height: 70%;
    text-align: center;
    border-radius: 20px;
}


#item-0 {
   background-color: rgba(5, 5, 5, 0.433);
   border-radius: 20px;
   width: 50%;
   text-align: center;
   color: rgba(48 239 188);
   padding: 15px;

}

#item-1 {
   width: 60%;
   text-align: center;
  
}

#item-2 {
   width: 50%;
   padding: 20px;
   background-color: rgba(216, 216, 216, 0.232);
   font-size: 22px;
   border-radius: 20px;
   color: white;
   overflow: hidden;
}

#item-3 {
   width: 60%;
   text-align: center;
}

#item-4 {
   width: 50%;
   padding: 20px;
   background-color: rgba(216, 216, 216, 0.232);
   font-size: 22px;
   border-radius: 20px;
   color: white;
   overflow: hidden;
}

#item-5 {
   width: 60%;
   text-align: center;
}

#item-6 {
   width: 50%;
   padding: 20px;
   background-color: rgba(216, 216, 216, 0.232);
   font-size: 22px;
   border-radius: 20px;
   color: white;
   overflow: hidden;
}

#item-6 p:empty {
   display: none;
}

#item-6:empty {
   display: none;
}
.hidden {
   display: none;
}

