<main>
    <div class="container">
      <h1 class="titulo">Evento de Calendario</h1>
    </div>
    
    <form id="eventoForm">
      <label for="titulo">Título:</label><br>
      <input type="text" id="titulo" name="titulo" required><br>
      
      <label for="fecha">Fecha:</label><br>
      <input type="date" id="fecha" name="fecha" required><br>
      
      <label for="hora">Hora:</label><br>
      <input type="time" id="hora" name="hora"><br>
      
      <label for="descripcion">Descripción:</label><br>
      <textarea id="descripcion" name="descripcion"></textarea><br>
      
      <label for="ubicacion">Ubicación:</label><br>
      <input type="text" id="ubicacion" name="ubicacion"><br>
      
      <button type="submit">Agregar Evento</button>
    </form>
  </main>
  