/* Estilo para el formulario de agregar eventos */
main {
    height: 90vh;
    padding-top: 8%;
    background-image:linear-gradient(rgba(30, 185, 144, 0.647), rgba(0, 0, 0, 0.953)),url(src/assets/fondos/fondoMain.png);
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    background-color: rgba(5, 5, 5, 0.433);
    color: rgba(48 239 188);
    display: flex;
    width: 25vw;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    
}


#eventoForm {
    width: 20vw; /* Ancho del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    padding: 20px;
    background-color: #f5f5f5cf; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
    border-radius: 20px;
    margin-top: 30px;
    height: 75%;
    overflow: hidden;
  }
  
  /* Estilo para las etiquetas de los campos */
  label {
    font-weight: 'Outfit';
  }
  
  /* Estilo para los campos de entrada */
  input[type="text"],
  input[type="date"],
  input[type="time"],
  textarea {
    width: 100%; /* Ancho completo */
    height: 12%;
    padding: 8px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio inferior */
    box-sizing: border-box; /* Incluir el relleno en el ancho */
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 10px; /* Bordes redondeados */
    
  }
  
  /* Estilo para el botón de submit */
  button[type="submit"] {
    margin-top: 10px;
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espacio interno */
    background-color: rgba(48 239 188); /* Color de fondo */
    color: #0b0b0b; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    border-radius: 10px;
  }
  
  /* Estilo para el botón de submit al pasar el mouse */
  button[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    color: white;
  }
  