<div class="container">

    <header class="entry-header">
        <h1 class="entry-title">Mobilitat d’alumnat</h1>
    </header><!-- .entry-header -->

            <div class="entry-content">
                <h3>Criteris de selecció d’alumnat per a estades internacionals</h3>
<ul>
<li><span style="font-weight: 400;">Les beques Erasmus+ són una ajuda econòmica per poder realitzar el Mòdul de Formació en Centres de Treball a l’estranger, per la qual cosa, només l’alumnat de segon curs que compleixi amb els requisits obligatoris pot sol·licitar-les.</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Amb l’objectiu d’obtenir una previsió de l’aprofitament de les estades, es farà una valoració prèvia basant-se en els següents criteris.&nbsp;</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Per optar a una beca Erasmus+ cal complir amb els requisits obligatoris i no haver rebut mai un expedient disciplinari.</span></li>
</ul>
<table>
<tbody>
<tr>
<td><b>Criteri</b></td>
<td colspan="2"><b>Concepte</b></td>
</tr>
<tr>
<td><b>1</b></td>
<td colspan="2"><b>Formació en idiomes</b></td>
</tr>
<tr>
<td rowspan="8"></td>
<td><b>Cal aportar titulació oficial</b></td>
<td><b>Puntuació</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;">nivell C1 del país de destí</span></td>
<td><span style="font-weight: 400;">4 punts</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">nivell B2 del país de destí</span></td>
<td><span style="font-weight: 400;">3 punts</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">nivell B1 del país de destí&nbsp;</span></td>
<td><span style="font-weight: 400;">2 punts</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">nivell C1 anglès (si no és idioma país destí)</span></td>
<td><span style="font-weight: 400;">3 punts</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">nivell B2 anglès (si no és idioma país destí)</span></td>
<td><span style="font-weight: 400;">2 punts</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">nivell B1 anglès o superar una prova&nbsp;</span></td>
<td><b>1 punt i requisit obligatori</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;">0,5 punts nivell B1 de qualsevol idioma&nbsp;</span></td>
<td><span style="font-weight: 400;">de 0 a 1 punt (màx 1 punt en total)</span></td>
</tr>
<tr>
<td><b>2</b></td>
<td colspan="2"><b>Altres estudis realitzats i finalitzats</b></td>
</tr>
<tr>
<td rowspan="4"></td>
<td><b>Cal aportar titulació oficial</b></td>
<td><b>Puntuació</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;">estudis universitaris</span></td>
<td><span style="font-weight: 400;">2 punts</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">títol de CFGS</span></td>
<td><span style="font-weight: 400;">1 punt</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">0,5 punts títol CFGM</span></td>
<td><span style="font-weight: 400;">0,5 punt</span></td>
</tr>
<tr>
<td><b>3</b></td>
<td colspan="2"><b>Experiència professional</b></td>
</tr>
<tr>
<td rowspan="3"></td>
<td><b>Cal aportar l’informe de vida laboral</b></td>
<td><b>Puntuació</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Si té relació amb els estudis actuals</span></td>
<td>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">2 punts/any</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">0,1666 punts/mes</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Màxim 4 punts</span></li>
</ul>
</td>
</tr>
<tr>
<td><span style="font-weight: 400;">Si no té relació amb els estudis actuals</span></td>
<td>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">1 punt/any</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">0,0833 punts/mes&nbsp;</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Màxim 2 punts</span></li>
</ul>
</td>
</tr>
<tr>
<td><b>4</b></td>
<td colspan="2"><b>Informe de l’equip docent / implicació</b></td>
</tr>
<tr>
<td rowspan="7"></td>
<td><b>Barem</b></td>
<td><b>Puntuació</b></td>
</tr>
<tr>
<td><strong>Haver acreditat el 80% d’assistència en el conjunt dels mòduls del 1er curs</strong></td>
<td><strong>requisit obligatori</strong></td>
</tr>
<tr>
<td><b>Informe negatiu d’incidències a classe</b></td>
<td><b>requisit obligatori</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Iniciativa i participació activa a classe</span></td>
<td><span style="font-weight: 400;">de 0 a 1 punt</span></td>
</tr>
<tr>
<td><b>Currículum vitae amb format Europass i carta de motivació en anglès</b></td>
<td><b>requisit obligatori</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Entrevista amb l’equip docent.</span></td>
<td><span style="font-weight: 400;">de 0 a 1 punt</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Empresa confirmada per dur a terme la FCT.</span></td>
<td><span style="font-weight: 400;">2 punts</span></td>
</tr>
<tr>
<td><b>5</b></td>
<td colspan="2"><b>Expedient acadèmic del 1r curs</b></td>
</tr>
<tr>
<td rowspan="4"></td>
<td><b>Cal aportar el butlletí de notes de primer</b></td>
<td><b>Puntuació</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;">tots els mòduls aprovats i mitjana notes &gt;= 8</span></td>
<td><span style="font-weight: 400;">3 punts</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">tots els mòduls aprovats i mitjana notes &gt;=&nbsp; 7</span></td>
<td><span style="font-weight: 400;">2 punts</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">tots els mòduls aprovats i mitjana notes &gt;= 6</span></td>
<td><b>1 punt i requisit obligatori</b></td>
</tr>
<tr>
<td><b>6</b></td>
<td colspan="2"><b>Altres (a valorar si s’escau per l’equip docent). Màxim 1 punt</b></td>
</tr>
<tr>
<td></td>
<td colspan="2"><span style="font-weight: 400;">Qualsevol altre mèrit que l’alumne/a vulgui que es consideri (estudis musicals, premis esportius o d’altre mena, beques, etc) acompanyat de la documentació adient.</span></td>
</tr>
</tbody>
</table>
</div>
