<nav>
    <div class="redes">
        <img class="icono-redes" routerLink="home" src="../../../assets/iconos/linkedin 1.png" alt="">
        <img class="icono-redes" routerLink="home" src="../../../assets/iconos/instagram (1) 1.png" alt="">
    </div>
    <div class="sponsor">
        <img class="icono-sponsor" routerLink="home" src="../../../assets/iconos/Opera Instantánea_2024-02-19_160729_agora.xtec 1.png" alt="">
        <img class="icono-sponsor" routerLink="home" src="../../../assets/iconos/Opera Instantánea_2024-02-19_160706_agora.xtec 1.png" alt="">
        <img class="icono-sponsor" routerLink="home" src="../../../assets/iconos/Opera Instantánea_2024-02-19_160629_agora.xtec 1.png" alt="">
    </div>
    <div class="conteiner-img-footer">
        <img class="icono-footer" routerLink="home" src="../../../assets/iconos/logo horitzontal ITICBCN (Blanc) 1 (1).png" alt="">
    </div>
</nav>