footer {
    background-color: rgb(66, 66, 66);
    height: 5vw;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .redes {
    order: 1; /* Cambia el orden para que aparezca primero */
  }

  .icono-redes {
    padding-left: 10px;
    padding-right: 5px;
  }
  
  .sponsor {
    order: 2; /* Cambia el orden para que aparezca después de redes */
  }

  .icono-sponsor {
    padding-left: 10px;
  }
  
  .logo-footer {
    margin-right: 40px;
    order: 3; /* Cambia el orden para que aparezca en el medio */
  }

  .logo-consorci {
    width: 142px;
    order: 4;
  }

  .icono-consorci {
    height: 50px;
  }
  
  .contacte {
    color: white;
    order: 5; /* Cambia el orden para que aparezca al final */
    padding-right: 10px;
}
  