<footer>
    <div class="redes">
        <a href="https://www.linkedin.com/school/iticbcn/"><img class="icono-redes" src="../../../assets/iconos/footer/linkedin.png" alt="Linkedin"></a>
        <a href="https://www.instagram.com/iticbcn/"><img class="icono-redes" src="../../../assets/iconos/footer/instagram.png" alt="Instagram"></a>
    </div>
    <div class="sponsor">
        <a href="https://fp.edubcn.cat/xarxes-bepro"><img class="icono-sponsor" src="../../../assets/iconos/footer/logo_be_pro.png" alt="Be_Pro"></a>
        <a href="https://erasmus-plus.ec.europa.eu/es"><img class="icono-sponsor" src="../../../assets/iconos/footer/logo_erasmus.png" alt="Erasmus+"></a>
    </div>
    <div class="logo-footer">
        <img class="icono-footer" src="../../../assets/logos_itic/logo horitzontal ITICBCN (Blanc).png" alt="ITICBCN">
    </div>
    <div class="logo-consorci">
        <a href="https://www.edubcn.cat/ca"><img class="icono-sponsor" src="../../../assets/iconos/footer/logo_CEB.png" alt="Consorci d'Educació"></a>
    </div>
    <div class="contacte">
        <p>C/ Sancho de Ávila, 131 <br>08018 Barcelona <br>Tel: 935128822</p> 
    </div>
</footer>