<div class="main-container">
    <div class="texto"> 
        <div class="conteiner-titulo">
            <h1 class="titulo">On som</h1>
        </div>
        
        <br>
        <p>C/ Sancho de Avila, 131</p>
        <p>08013 Barcelona</p>
        <br>
        <p><strong>Contacte:</strong> iticbcn(a)xtec.cat</p>
        <br>
        <div class="separador"></div>
        <br>
    <h3>Com arribar-hi</h3>
        <br>
    <ul>
        <li>Per tren:<strong> Rodalies R1</strong> + V25</li>
        <li>Per bus:<strong> V25</strong></li>
        <li>Per metro:<strong> L1</strong> (Glòries) / <strong>L4</strong>  (Llacuna)</li>
        <li>Tranvía:<strong> T4</strong> (Ca l’Aranyò)</li>
    </ul>
    </div>
    <div class="div-img"><img class="mapa" src="assets/imagenes/mapa.png" alt="mapa Itic"></div>
</div>