
/*
.texto {
    background-color: rgba(247, 247, 247, 0.521);
    width: 20%;
    height: 42%;
    text-align: justify;
    padding: 70px;
    border-radius: 60px;
    overflow: hidden;
}
.separador {
    width: 80%;
    border-bottom: 3px solid rgba(48 239 188); /* Puedes ajustar el grosor y el color de la línea según tus necesidades */
/* }

ul {
    padding-left: 20px;
}

.conteiner-titulo {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.388) ;
}

.titulo {
    color: rgba(48 239 188);
    text-align: center;
} */ 
img{
    border-radius: 20px;
}