<div class="main-container">
    <div class="texto"> 
        <h1>On som</h1>
        <p>C/ Sancho de Avila, 131</p>
        <p>08013 Barcelona</p>
        <p><strong>Contacte:</strong> iticbcn(a)xtec.cat</p>
    <h3>Com arribar-hi</h3>
    <ul>
        <li>Per tren:  <strong> Rodalies R1</strong> + V25</li>
        <li>Per bus:<strong>V25</strong></li>
        <li>Per metro::<strong>L1</strong> (Glòries) / <strong>L4</strong>  (Llacuna)</li>
        <li>Tranvía: <strong>T4</strong> (Ca l’Aranyò)</li>
    </ul>
    </div>
    <div class="div-img"><img class="mapa" src="assets/imagenes/mapa.png" alt="mapa Itic"></div>
</div>