<main>
  <form id="noticiaForm">
    <label for="titulo">Título:</label><br>
    <input type="text" id="titulo" name="titulo" required><br>
    
    <label for="subtitulo">Subtítulo:</label><br>
    <input type="text" id="subtitulo" name="subtitulo"><br>
    
    <label for="parrafo1">Párrafo 1:</label><br>
    <textarea id="parrafo1" name="parrafo1" required></textarea><br>
    
    <label for="parrafo2">Párrafo 2:</label><br>
    <textarea id="parrafo2" name="parrafo2"></textarea><br>
    
    <label for="parrafo3">Párrafo 3:</label><br>
    <textarea id="parrafo3" name="parrafo3"></textarea><br>
    
    <label for="noticiaFijada">Noticia fijada:</label><br>
    <input type="checkbox" id="noticiaFijada" name="noticiaFijada"><br><br>
    
    <button type="submit" >Crear Noticia</button>
  </form>

  <div id="imagenes">
    <label class="file-label" for="fotoPortada">Foto de Portada:</label><br>
    <input type="file" id="fotoPortada" name="fotoPortada" accept="image/*" required><br>
    
    <label class="file-label" for="foto1">Foto 1:</label><br>
    <input type="file" id="foto1" name="foto1" accept="image/*"><br>
    
    <label class="file-label" for="foto2">Foto 2:</label><br>
    <input type="file" id="foto2" name="foto2" accept="image/*"><br>
    
    <label class="file-label" for="foto3">Foto 3:</label><br>
    <input type="file" id="foto3" name="foto3" accept="image/*"><br>
  </div>
</main>
