<div class="container">
    <img class="btn-editar" src="../../../../assets/iconos/boton-editar.png" alt="Editar" (click)="mostrarEditor()">

    <div class="titulo"><h1 class="tex-title">{{titulo}}</h1></div>
    <br>
    <div class="entry-content" #entryContent>
        <div [innerHTML]="contenido"></div>
    </div>

    <script src="../../../../assets/editor-lang/ca.js"></script>
        
    <div class="editor-overlay" [ngStyle]="{'display': editorVisible ? 'block' : 'none'}"></div>
    <div class="editor-container" id="editor-container" [ngStyle]="{'display': editorVisible ? 'block' : 'none'}">
        <form (ngSubmit)="editarContent(entryContent)">
            <editor id="editor" apiKey="zakbnkoqj8huqbdmdqzv9svh04sr90wz7yn5bgqicrg4n922"
            [init]="{
                plugins: 'lists link image table code help wordcount',
                toolbar1: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | indent outdent | bullist numlist',
                toolbar2: 'table | code | link unlink ',
                inline: false
            }"></editor>
            <button type="submit">Guardar</button>
            <button type="button" (click)="cancelarEdicion()">Cancelar</button>
        </form>
    </div>
</div>