.container {
    min-height: calc(100vh - 8rem); 
    max-width: 100vw;
    padding: 5%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-image:linear-gradient(rgba(30, 185, 144, 0.647), rgba(0, 0, 0, 0.953)),url(src/assets/fondos/fondoMain.png);
    padding-top: 8%;
    position: relative;
    /* background-repeat: no-repeat; */
    /* background-color: linear-gradient(rgba(58, 150, 126, 0.647), rgba(3, 81, 77, 0.971)); */
    background-image: linear-gradient(rgba(58, 150, 126, 0.647), rgba(3, 81, 77, 0.971)), url(src/assets/fondos/fondoMain.png);
    background-repeat: no-repeat;
    background-position: top;
    /* background-size:contain; */
    /* linear-gradient(rgba(142, 142, 142, 0.043), rgba(111, 111, 111, 0.8)) */
}
.container:nth-of-type(odd) {
    background-image: linear-gradient(rgba(58, 150, 126, 0.647), rgba(58, 150, 126, 0)), /* degradado transparente en la parte superior */
                      linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)), /* color de fondo sólido */
                      url(src/assets/fondos/fondoMain.png); /* imagen de fondo */
    background-repeat: no-repeat;
    background-position: top, /* Posición de la imagen en la parte superior */
                         center bottom; /* Posición del color de fondo en la parte inferior */
    background-size: cover, /* Ajusta el tamaño de la imagen */
                     auto; /* Tamaño del color de fondo */
}


.titulo {
    background-color: rgba(5, 5, 5, 0.433);
    display: flex;
    width: 20vw;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.tex-title {
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgba(48, 239, 188);
    overflow: hidden;
}


/* /* .entry-content::-webkit-scrollbar {
    width: 10px;
    height: 60px;
}

.entry-content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 60px;
}

.entry-content::-webkit-scrollbar-thumb {
    background: rgb(0, 81, 255);
    border-radius: 60px; 
} */

.entry-content {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to top, transparent, rgba(25, 34, 62, 0.638));
    min-width: 50%;
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 60px;
    /* overflow: auto; */
}

img{
    border-radius: 20px;
}

ul {
    list-style: none;
}

.editor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2;
    
}

.editor-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 3;
 
}
h2 {
    color: blue;
}
.btn-editar {
    position: absolute;
    top: 90px;
    right: 10px;
    width: 50px;
    height: auto;
}
.contenido{
    color: #fff;
}
