<main>
    <div class="left">
        <img class="logo-itic" src="../../../../assets/iconos/logo quadrat Institut TIC de Barcelona (Monocromo) 2.png" alt="">
    </div>

    <div class="right">
        <div class="form">
        <form class="form_container" (ngSubmit)="onSubmit()">
            <div class="title_container">
                <p class="title">Crear Compte</p>
                <span class="subtitle">Formulari de creació del compte ITICBCN</span>
            </div>
            <br>
            <div class="input_container">
                <label class="input_label" for="nom_field">Nom</label>
                <input placeholder="Nom" title="Input Nom" name="input-name" type="text" class="input_field" id="nom">
            </div>
            <div class="input_container">
                <label class="input_label" for="cognom_field">Cognom</label>
                <input placeholder="Cognom" title="Input Cognom" name="input-name" type="text" class="input_field" id="cognom">
            </div>
            <div class="input_container">
                <label class="input_label" for="email_field">Email</label>
                <input placeholder="Email" title="Input Email" name="input-name" type="text" class="input_field" id="email">
            </div>
            <div class="input_container">
                <label class="input_label" for="password_field">Contrasenya</label>
                <input placeholder="Contrasenya" title="Input Contrasenya" name="input-name" type="password" class="input_field" id="password">
            </div>
            <div *ngIf="!isAuthenticated">
                <p class="auth_error">Error. Los valores no pueden estar vacíos!</p>
            </div>
            
            <button title="Register" type="submit" class="sign-in_btn" >
                <span>Crear Compte</span>
            </button>     
        </form>
        </div>
    </div>
</main>