main{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-image:linear-gradient(rgba(133, 132, 132, 0.21), rgba(139, 139, 139, 0.8)),url(/assets/fondos/fondo1.jpg);  
    padding-bottom: 2%;
}

table {
    background: #fff;
    margin-bottom: 1.25em;
    border: solid 1px #ddd;
    max-width: 80vw;
}
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
    border: 1px solid silver;
}