<main>
    <div>
        <h1>Gestió de dades de caràcter personal</h1>

        <p>El mes d’abril de 2016 es va aprovar el Reglament (UE) 2016/679 del Parlament i del Consell,
            de 27 d’abril de 2016, relatiu a la protecció de les persones físiques pel que fa al tractament
            de dades personals i a la lliure circulació d’aquestes dades, el qual ha entrat plenament
            en vigor el 25 de maig de 2018.
        </p>
    
        <p>En compliment d’aquest reglament, l’Institut TIC de Barcelona, informa del següent:</p>
    </div>

    
    <ul>
        <li>La informació relativa als tractaments que són responsabilitat del Departament d’Educació,
            de qui depèn el Consorci d’Educació, es poden consultar a la seva web, punxant aquí.
        </li>
        <li>
            La informació relativa als tractaments que són responsabilitat del Consorci d’Educació,
            de qui depèn l’Institut TIC de Barcelona, es poden consultar a la seva web, punxant aquí.
        </li>
        <li>
            La informació relativa als tractaments de dades que porta a terme l’Institut TIC de Barcelona
            (és a dir, recollida de dades, emmagatzemament, utilització i eventualment difusió d’aquestes dades),
            la pots trobar recollida en el Registre d’activitats de tractament del nostre institut, punxant aquí.
        </li>
    </ul>

    <p>
        També trobes a continuació la informació bàsica sobre protecció de dades del nostre institut:
    </p>

    <h2>Plataformes educatives</h2>
    <table>
        <tbody>
            <tr>
                <td colspan="2"><b>Informació bàsica sobre protecció de dades en compliment del Reglament General de
                        Protecció de Dades (Reglament UE 2016/679 del Parlament Europeu i del Consell, de 27 d’abril de
                        2016)</b></td>
            </tr>
            <tr>
                <td><b>Responsable</b></td>
                <td><span style="font-weight: 400;">Direcció de l’Institut TIC de Barcelona.</span></td>
            </tr>
            <tr>
                <td><b>Finalitat</b></td>
                <td><span style="font-weight: 400;">La finalitat és la gestió de les plataformes educatives utilitzades
                        pel centre. Els usos previstos són el manteniment de la plataforma, la gestió dels usuaris i el
                        control i seguiment dels continguts de la mateixa. Estudis estadístics.</span></td>
            </tr>
            <tr>
                <td><b>Legitimació</b></td>
                <td><span style="font-weight: 400;">Missió realitzada en interès públic.</span></td>
            </tr>
            <tr>
                <td><b>Destinataris</b></td>
                <td><span style="font-weight: 400;">No es fan cessions, excepte en els casos previstos per llei.</span>
                </td>
            </tr>
            <tr>
                <td><b>Drets</b></td>
                <td><span style="font-weight: 400;">Podeu exercir els drets d’accés, rectificació, cancel·lació,
                        supressió, limitació o oposició al tractament i portabilitat mitjançant un escrit adreçat al
                        centre educatiu (c. Sancho d’Àvila,131-133, 08018 Barcelona), o bé mitjançant un correu
                        electrònic dirigit a iticbcnxtec.cat, indicant a l’assumpte el següent text: “Tractament de
                        dades”.</span></td>
            </tr>
        </tbody>
    </table>
    <h2>Activitats extraescolars</h2>
    <table>
        <tbody>
            <tr>
                <td colspan="2"><b>Informació bàsica sobre protecció de dades en compliment del Reglament General de
                        Protecció de Dades (Reglament UE 2016/679 del Parlament Europeu i del Consell, de 27 d’abril de
                        2016)</b></td>
            </tr>
            <tr>
                <td><b>Responsable</b></td>
                <td><span style="font-weight: 400;">Direcció de l’Institut TIC de Barcelona.</span></td>
            </tr>
            <tr>
                <td><b>Finalitat</b></td>
                <td><span style="font-weight: 400;">La finalitat és la gestió de les activitats extraescolars impulsades
                        i organitzades pel centre educatiu. Els usos previstos són el seguiment i control de les
                        activitats extraescolars desenvolupades. Estudis estadístics.</span></td>
            </tr>
            <tr>
                <td><b>Legitimació</b></td>
                <td><span style="font-weight: 400;">Missió realitzada en interès públic.</span></td>
            </tr>
            <tr>
                <td><b>Destinataris</b></td>
                <td><span style="font-weight: 400;">No es fan cessions, excepte en els casos previstos per llei.</span>
                </td>
            </tr>
            <tr>
                <td><b>Drets</b></td>
                <td><span style="font-weight: 400;">Podeu exercir els drets d’accés, rectificació, cancel·lació,
                        supressió, limitació o oposició al tractament i portabilitat mitjançant un escrit adreçat al
                        centre educatiu (c. Sancho d’Àvila,131-133, 08018 Barcelona), o bé mitjançant un correu
                        electrònic dirigit a iticbcnxtec.cat, indicant a l’assumpte el següent text: “Tractament de
                        dades”.</span></td>
            </tr>
        </tbody>
    </table>
    <h2>Borsa de treball</h2>
    <table>
        <tbody>
            <tr>
                <td colspan="2"><b>Informació bàsica sobre protecció de dades en compliment del Reglament General de
                        Protecció de Dades (Reglament UE 2016/679 del Parlament Europeu i del Consell, de 27 d’abril de
                        2016)</b></td>
            </tr>
            <tr>
                <td><b>Responsable</b></td>
                <td><span style="font-weight: 400;">Direcció de l’Institut TIC de Barcelona.</span></td>
            </tr>
            <tr>
                <td><b>Finalitat</b></td>
                <td><span style="font-weight: 400;">La finalitat és la gestió de les ofertes de treball adreçades per
                        empreses al centre educatiu. Els usos previstos són posar en coneixement de l’alumnat les
                        ofertes adreçades per part de les empreses, seguiment i control de les persones que s’inscriuen
                        a la borsa de treball. Estudis estadístics.</span></td>
            </tr>
            <tr>
                <td><b>Legitimació</b></td>
                <td><span style="font-weight: 400;">Missió realitzada en interès públic.</span></td>
            </tr>
            <tr>
                <td><b>Destinataris</b></td>
                <td><span style="font-weight: 400;">No es fan cessions, excepte en els casos previstos per llei.</span>
                </td>
            </tr>
            <tr>
                <td><b>Drets</b></td>
                <td><span style="font-weight: 400;">Podeu exercir els drets d’accés, rectificació, cancel·lació,
                        supressió, limitació o oposició al tractament i portabilitat mitjançant un escrit adreçat al
                        centre educatiu (c. Sancho d’Àvila,131-133, 08018 Barcelona), o bé mitjançant un correu
                        electrònic dirigit a borsa.treballiesjoandaustria.org, indicant a l’assumpte el següent text:
                        “Tractament de dades”.</span></td>
            </tr>
        </tbody>
    </table>
    <h2>Gestió econòmica, contractació i col·laboradors</h2>
    <table>
        <tbody>
            <tr>
                <td colspan="2"><b>Informació bàsica sobre protecció de dades en compliment del Reglament General de
                        Protecció de Dades (Reglament UE 2016/679 del Parlament Europeu i del Consell, de 27 d’abril de
                        2016)</b></td>
            </tr>
            <tr>
                <td><b>Responsable</b></td>
                <td><span style="font-weight: 400;">Direcció de l’Institut TIC de Barcelona.</span></td>
            </tr>
            <tr>
                <td><b>Finalitat</b></td>
                <td><span style="font-weight: 400;">La finalitat és la gestió de les activitats de caire econòmic,
                        financer, comptable i de col·laboració del centre educatiu. Els usos són la gestió de les dades
                        dels proveïdors i col·laboradors, gestió de pagaments, i altres possibles assistències que
                        comportin una despesa econòmica.</span></td>
            </tr>
            <tr>
                <td><b>Legitimació</b></td>
                <td><span style="font-weight: 400;">Missió realitzada en interès públic.</span></td>
            </tr>
            <tr>
                <td><b>Destinataris</b></td>
                <td><span style="font-weight: 400;">No es fan cessions, excepte en els casos previstos per llei.</span>
                </td>
            </tr>
            <tr>
                <td><b>Drets</b></td>
                <td><span style="font-weight: 400;">Podeu exercir els drets d’accés, rectificació, cancel·lació,
                        supressió, limitació o oposició al tractament i portabilitat mitjançant un escrit adreçat al
                        centre educatiu (c. Sancho d’Àvila,131-133, 08018 Barcelona), o bé mitjançant un correu
                        electrònic dirigit a iticbcnxtec.cat, indicant a l’assumpte el següent text: “Tractament de
                        dades”.</span></td>
            </tr>
        </tbody>
    </table>

    <h2>Alumnat</h2>
    <table>
        <tbody>
            <tr>
                <td colspan="2"><b>Informació bàsica sobre protecció de dades en compliment del Reglament General de
                        Protecció de Dades (Reglament UE 2016/679 del Parlament Europeu i del Consell, de 27 d’abril de
                        2016)</b></td>
            </tr>
            <tr>
                <td><b>Responsable</b></td>
                <td><span style="font-weight: 400;">Direcció de l’Institut TIC de Barcelona.</span></td>
            </tr>
            <tr>
                <td><b>Finalitat</b></td>
                <td><span style="font-weight: 400;">La finalitat és la gestió de l’acció educativa, l’orientació
                        acadèmica i professional, l’acció tutorial i de comunicació amb les famílies, l’avaluació
                        objectiva del rendiment escolar, el compromís de l’alumnat i llurs famílies en el procés
                        educatiu. Els usos principals són els derivats de la gestió de l’acció educativa i orientadora i
                        l’avaluació objectiva del rendiment escolar.</span></td>
            </tr>
            <tr>
                <td><b>Legitimació</b></td>
                <td><span style="font-weight: 400;">Missió realitzada en interès públic.</span></td>
            </tr>
            <tr>
                <td><b>Destinataris</b></td>
                <td><span style="font-weight: 400;">No es fan cessions, excepte en els casos previstos per llei i a
                        l’AMPA, si s’ha autoritzat la cessió de dades a la matrícula.</span></td>
            </tr>
            <tr>
                <td><b>Drets</b></td>
                <td><span style="font-weight: 400;">Podeu exercir els drets d’accés, rectificació, cancel·lació,
                        supressió, limitació o oposició al tractament i portabilitat mitjançant un escrit adreçat al
                        centre educatiu (c. Sancho d’Àvila,131-133, 08018 Barcelona), o bé mitjançant un correu
                        electrònic dirigit a iticbcnxtec.cat, indicant a l’assumpte el següent text: “Tractament de
                        dades”.</span></td>
            </tr>
        </tbody>
    </table>


    <h2>Personal del centre</h2>
    <table>
        <tbody>
            <tr>
                <td colspan="2"><b>Informació bàsica sobre protecció de dades en compliment del Reglament General de
                        Protecció de Dades (Reglament UE 2016/679 del Parlament Europeu i del Consell, de 27 d’abril de
                        2016)</b></td>
            </tr>
            <tr>
                <td><b>Responsable</b></td>
                <td><span style="font-weight: 400;">Direcció de l’Institut TIC de Barcelona.</span></td>
            </tr>
            <tr>
                <td><b>Finalitat</b></td>
                <td><span style="font-weight: 400;">La finalitat és la gestió del personal del centre educatiu i de
                        l’alumnat en pràctiques i l’accés als serveis digitals i telemàtics orientats a millorar el
                        desenvolupament de l’activitat educativa. Els usos són els derivats de la gestió del personal,
                        assignació de responsabilitats, seguiment de tasques, control horari, formació, avaluació del
                        pràcticum de l’alumnat que realitza les pràctiques en el centre educatiu, la provisió de claus
                        d’accés, autenticació i autorització d’usuaris als serveis digitals i telemàtics esmentats i
                        l’explotació estadística i històrica.</span></td>
            </tr>
            <tr>
                <td><b>Legitimació</b></td>
                <td><span style="font-weight: 400;">Missió realitzada en interès públic.</span></td>
            </tr>
            <tr>
                <td><b>Destinataris</b></td>
                <td><span style="font-weight: 400;">No es fan cessions, excepte en els casos previstos per llei.</span>
                </td>
            </tr>
            <tr>
                <td><b>Drets</b></td>
                <td><span style="font-weight: 400;">Podeu exercir els drets d’accés, rectificació, cancel·lació,
                        supressió, limitació o oposició al tractament i portabilitat mitjançant un escrit adreçat al
                        centre educatiu (c. Sancho d’Àvila,131-133, 08018 Barcelona), o bé mitjançant un correu
                        electrònic dirigit a iticbcnxtec.cat, indicant a l’assumpte el següent text: “Tractament de
                        dades”.</span></td>
            </tr>
        </tbody>
    </table>

    <h2>Jornades i actes de l’Institut TIC de Barcelona</h2>
    <table>
        <tbody>
            <tr>
                <td colspan="2"><span style="font-weight: 400;">Informació bàsica sobre protecció de dades en compliment
                        del Reglament General de Protecció de Dades (Reglament UE 2016/679 del Parlament Europeu i del
                        Consell, de 27 d’abril de 2016)</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: 400;">Responsable</span></td>
                <td><span style="font-weight: 400;">Direcció de l’Institut TIC de Barcelona.</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: 400;">Finalitat</span></td>
                <td><span style="font-weight: 400;">La finalitat és difondre i promoure les jornades o actes organitzats
                        per l’Institut TIC de Barcelona, i per gestionar la participació, la difusió i comunicació de la
                        informació sobre la realització de jornades i/o actes, controlar l’assistència de les persones
                        que participen i emetre’n els certificats d’assistència, si escau. Les jornades poden incloure
                        la captació i gravació d’imatge i veu d’organitzadors i ponents per difondre l’activitat.</span>
                </td>
            </tr>
            <tr>
                <td><span style="font-weight: 400;">Legitimació</span></td>
                <td><span style="font-weight: 400;">La base legal que permet tractar les vostres dades personals és el
                        vostre consentiment, el qual podeu retirar en qualsevol moment.</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: 400;">Destinataris</span></td>
                <td><span style="font-weight: 400;">No es fan cessions, excepte en els casos previstos per llei.</span>
                </td>
            </tr>
            <tr>
                <td><span style="font-weight: 400;">Drets</span></td>
                <td><span style="font-weight: 400;">Podeu exercir els drets d’accés, rectificació, cancel·lació,
                        supressió, limitació o oposició al tractament i portabilitat mitjançant un escrit adreçat al
                        centre educatiu (c. Sancho d’Àvila,131-133, 08018 Barcelona), o bé mitjançant un correu
                        electrònic dirigit a iticbcnxtec.cat, indicant a l’assumpte el següent text: “Tractament de
                        dades”.</span></td>
            </tr>
        </tbody>
    </table>

</main>