<app-Texteditable [id] = "4"></app-Texteditable>


<!-- <main>
    <h1 class="titulo">Organigrama</h1>
    <div class="contenido">
        <div class="texto">
        <p>Els òrgans col·legiats del nostre centre són:</p>
        <br>
        <ul>
            <li>El <a>Consell escolar </a>del centre</li>
            <li>El Claustre del professorat, compost per tot el professorat assignat a l’Institut.</li>
        </ul>
       
        <br>    
        <p>Les dependències funcionals, del personal que formem part de l’Institut TIC de Barcelona, es mostren en el
            següent esquema de dependències (organigrama funcional), on la part central correspon als membres de l’equip directiu:
        </p>
        </div>
        <div class="img-container">
        <img src="/assets/organigrama/ITICBCN-Organigrama-funcional.png" alt="">
        <br>
        <img src="/assets/organigrama/ITICBCN-Equip-directiu.png" alt="">
        </div>
    </div>
</main> -->