* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


main {
    background-image: url('/assets/fondos/fondoMain.jpg'); 
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}


.icono-Itic {
    height: 500px;
    width: 500px;
    margin-left: 5%;
    margin-right: 15%;
}

.chatbox-container {
    margin-right: 5%;
    display: flex;
    flex-direction: column; 
    flex: 1; 
}

.response-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color:  rgba(4, 4, 4, 0.46);
    background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.236));
    max-height: 100%;
    max-width: 100%;
    border-radius: 45px;
    padding: 40px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(48 239 188);
}


#query {
    height: 3rem;
    width: calc(100% - 40px); /* ajustar el ancho para dejar espacio para el icono */
    padding-left: 45px; /* agregar espacio a la derecha del input para el icono */
    background-image: url('../../../../assets/iconos/lupa.png');
    background-repeat: no-repeat;
    background-position: 20px center; /* posicionar el icono en el centro a la derecha */
    background-size: 24px 24px; /* ajustar el tamaño del icono según sea necesario */
    border-radius: 45px;

}

.response-container > ul{
    color: white;
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
    
}

input {
    background-color: rgba(251, 251, 251, 0.685);
    background-image: linear-gradient(to right transparent, rgba(255, 255, 255, 0.221));
    border: 0px;
    box-shadow: 0 0 10px rgba(48 239 188);
}

input:focus {
    outline: none;
}
.example-margin {
    width: 10%;
    height: 5%;
}

.pregunta {
    display: flex;
    flex-direction: row;
}
