
<main>
    <div class="icono-Itic" >
        <img class="icono-Itic" src="../../../../assets/iconos/logo quadrat Institut TIC de Barcelona (Monocromo) 2.png" alt="">
    </div>
    <div class="chatbox-container">
        <div class="response-container" id="response-container">
            <ul *ngFor="let query of listaQuerys let i= index " >
                <li *ngIf=respuestas>
                    <h4>User promtp</h4>
                    <p class="pregunta">{{listaQuerys[i]}}  
                        <mat-progress-spinner *ngIf="!respuestas[i]"
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="value"
                        diameter="24">
                     </mat-progress-spinner>
                    </p>
                    
                    <h4>Ia response</h4>
                    
                 <div class="query" [innerHTML]="respuestas[i]" style="white-space: pre-line"></div>
                </li>
            </ul>
        </div>
        
        <input  type="text" id="query" name="query" 
        placeholder=" introduce algo.."
        #queryInput
        (keyup.enter)="iaChat(queryInput.value); queryInput.value = '' "
        style="height: 3rem; width: 100%;">
    </div>
</main>

