
<main>
    <div class="icono-Itic" >
        <img class="icono-Itic" src="../../../../assets/iconos/logo quadrat Institut TIC de Barcelona (Monocromo) 2.png" alt="">
    </div>
    <div class="chatbox-container">
        <div class="response-container" id="response-container">
            <ul *ngFor="let query of listaQuerys let i= index " >
                <li *ngIf=respuestas>
                    <h4>User promtp</h4>
                    <div class="pregunta">{{listaQuerys[i]}}</div><br>
                    
                    <h4>IA response</h4>
                    <br>
                    <mat-progress-spinner *ngIf="!respuestas[i]"
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="value"
                        diameter="24">
                     </mat-progress-spinner>
                 <div class="query" [innerHTML]="respuestas[i]" style="white-space: pre-line"></div>
                </li>
            </ul>
        </div>
        <div class="imput-container">
            <textarea id="query" name="query" 
                placeholder="Introduce algo..."
                #queryInput
                (keyup.enter)="iaChat(queryInput.value); queryInput.value = '' ">
            </textarea>

        </div>
        
    </div>
</main>

