* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


main {
    background-image:linear-gradient(rgba(30, 185, 144, 0.647), rgba(0, 0, 0, 0.953)),url(src/assets/fondos/fondoMain.png);
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.chatbox-container {
    margin-right: 5%;
    display: flex;
    flex-direction: column; 
    flex: 1; 
    overflow: hidden;
    justify-content: center;
}

.msgBinvenida {
    background-image:linear-gradient(rgba(30, 185, 144, 0.234), rgba(195, 195, 195, 0.434));
    text-align: center;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    font-size: 18px;
    color: white;
}
.msgBinvenida P{
    font-size: 25PX;
}

.response-container {
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color:  rgba(4, 4, 4, 0.46);
    background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.236));
    max-height: 100%;
    max-width: 100%;
    border-radius: 45px;
    padding: 40px;
    overflow: hidden;
}

.imput-container {
    width: 50vw; /* Ancho máximo del contenedor */
    padding-top: 10px;
    
}

.imput-container textarea {
    cursor: text; /* Cambiar el cursor a texto */
}


#query {
    padding: 30px 25px 11px 50px;
    width: 100%;
    background-image: url('../../../../assets/iconos/lupa.png');
    background-repeat: no-repeat;
    background-position: 20px center; /* posicionar el icono en el centro a la derecha */
    background-size: 24px 24px; /* ajustar el tamaño del icono según sea necesario */
    border-radius: 45px;
    background-color: rgba(251, 251, 251, 0.685);
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
}

.response-container > ul{
    color: white;
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
}

.example-margin {
    width: 10%;
    height: 5%;
}

.pregunta {
    display: flex;
    flex-direction: row;
    background: none;
    overflow: auto;
    color: white;
    /* font-size: 21px; */
}
