
<nav class="titulos" (mouseenter)="mostrarSubtitulos()" (mouseleave)="ocultarSubtitulos()">
  <div class="icono-itic"><img class="icono-itic" routerLink="home" src="../../../assets/iconos/Opera_Snapshot_2024-03-05_144830_www.figma.com-removebg-preview.png" alt=""></div>
  <!-- Iteramos sobre cada opción del menú -->
  <ul class="nombre-titulos titulos-principales" *ngFor="let opcion of Menu.opciones">
    <!-- Mostramos el título de la opción -->
    <li class="principales" [routerLink]="opcion.titulo">{{ opcion.titulo }}</li>
    <!-- Verificamos si hay subtitulos -->
    <ul class="nombre-subtitulos" *ngIf="opcion.subtitulos && opcion.subtitulos.length > 0 && mostrarSubtitulosFlag">
      <!-- Iteramos sobre cada subtitulo de la opción -->
      <li class="subtitulos" *ngFor="let subtitulo of opcion.subtitulos" [routerLink]="[opcion.titulo, subtitulo]"> {{subtitulo}}</li>
    </ul>
  </ul>
  <div class="usuario"><img class="icono-user" routerLink="login" src="../../../assets/iconos/usuario.png" alt="User"></div>
</nav>







<!-- La parte comentada es para el efecto slider del menu que se ha descartado. -->

 <!-- <mat-tab-group>
  <mat-tab label="Inicio" routerLink="/home"></mat-tab>
  <mat-tab label="Institut" routerLink="/Institut">
    <app-main></app-main>
  </mat-tab>
  <mat-tab label="Projecte educatiu" routerLink="/Projecte educatiu">
    <router-outlet></router-outlet>
  </mat-tab>
  <mat-tab label="Estudis" routerLink="/Estudis">
    <router-outlet></router-outlet>
  </mat-tab>
  <mat-tab label="ServeisErasmus+" routerLink="/ServeisErasmus+">
    <router-outlet></router-outlet>
  </mat-tab>
  <mat-tab label="Serveis" routerLink="/Serveis">
    <router-outlet></router-outlet>
  </mat-tab>
  <mat-tab label="Secretaria" routerLink="/Secretaria">
    <router-outlet></router-outlet>
  </mat-tab>
</mat-tab-group>  -->
