* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


/* Estilo para el contenedor de los títulos */
.titulos {
    display: flex;
    background-color: rgba(74, 74, 74, 0.769);
    background-image: linear-gradient(to top, transparent, rgba(13, 13, 13, 0.683));
    width: 100vw;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 1px;
    font-size: 18px;
}

.conteiner-itens{
    display: flex;
    overflow: hidden;
    width: 90vw;  
    margin-left: 30px;  
}


ul {
    list-style-type: none;
}

.principales {
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(255, 255, 255);
    
    
}


.sublista{
    display: flex;
}

.subtitulos {
    padding: 7px;
}

/* Estilo para los subtitulos, inicialmente ocultos */
.nombre-subtitulos {
    display: none;
    position: absolute;
    padding: 10px;
    width: auto;
}


.nombre-titulos:hover {
    background-color: rgba(0, 0, 0, 0.656);
    transition: background-color 0.2s ease; /* Transición suave para el cambio de color de fondo y el radio del borde */
    border-radius: 10px 10px 0 0;
    color: rgb(255, 255, 255);
    

}



/* Estilo para mostrar los subtitulos cuando se pasa el ratón sobre el título */
.nombre-titulos:hover .nombre-subtitulos {
    display: block;
    background-color: rgba(0, 0, 0, 0.656);
    border-radius: 0 8px 20px 20px;
    margin-top: 12px;
}

/* Estilo para los subtitulos clicables */
.nombre-subtitulos li:hover {
    cursor: pointer;
    background-color: rgba(48 239 188);
    color: black;
    border-radius: 20px;
    transition: background-color 0.2s ease; /* Transición suave para el cambio de color de fondo y el radio del borde */  
}

.nombre-titulos:hover li {
    padding-bottom: 10px;
}


/* Estilo para el icono */
.container-icono-itic {
    height: 60px;
    width: 60px;
    text-align: center;
}

.container-icono-itic img{
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: 100%;
    margin-left: 18px;
    padding: 8px;
    border-radius: 100%;
    background-color: rgb(112, 112, 112);
    cursor: pointer;
}


.icono-user{
    padding: 8px;
    height: 60px;
    width: 60px;
    background-color: rgb(112, 112, 112);
    border-radius: 100%;
    cursor: pointer;
}

.nombre-titulos-login:hover .nombre-subtitulos-login {
    display: block;
    background-color: rgba(0, 0, 0, 0.656);
    border-radius: 5px 5px 0px 20px;
}

.nombre-subtitulos-login {
    display: none;
    position: absolute; /* Cambiado a absolute para permitir el ajuste de posición */
    padding: 15px;
    right: 0%; /* Ajuste de posición hacia la izquierda */
    top: 99%; /* Asegurar que los subtitulos-login aparezcan debajo de la imagen */
}

.nombre-subtitulos-login li {
    padding: 10px;
    margin-right: 10px;
}

.nombre-subtitulos-login li:hover {
    cursor: pointer;
    
    background-color: rgba(48 239 188);
    border-radius: 20px;
    color: black;
    transition: background-color 0.2s ease; /* Transición suave para el cambio de color de fondo y el radio del borde */  
}

.nombre-titulos-login:hover {
    transition: background-color 0.2s ease; /* Transición suave para el cambio de color de fondo y el radio del borde */
    border-radius: 10px 10px 0 0;
    color: rgb(255, 255, 255);
    

}

