/* Estilo para el contenedor de los títulos */
.titulos {
    display: flex;
    background-color: rgb(185, 185, 185);
    width: 100%;
    position: fixed;
}

ul {
    list-style-type: none;
    /* Elimina los marcadores de la lista */
    padding: 0;
    /* Asegúrate de que no haya relleno */
    margin: 0;
    /* Asegúrate de que no haya margen */
}

.principales {
    display: flex;
    cursor: pointer;
    padding: 20px;
    /* Por ejemplo, un relleno */
    box-sizing: border-box;
    /* Esto asegura que el relleno se incluya en el ancho total */
    justify-content: center;
    /* Centra el texto horizontalmente */
    align-items: center;
    /* Centra el texto verticalmente */
    flex: 1;
    /* Hace que el texto se ajuste al tamaño del contenedor */
    white-space: nowrap;
    /* Evita que el texto se rompa en varias líneas */
    overflow: hidden;
    /* Oculta el texto que sobresale del contenedor */
    text-overflow: ellipsis;
    /* Agrega puntos suspensivos (...) al texto que sobresale del contenedor */
}


.subtitulos {
    padding: 7px;
    /* Por ejemplo, un relleno */
}

/* Estilo para los subtitulos, inicialmente ocultos */
.nombre-subtitulos {
    display: none;
    position: absolute;
    /* Sacamos los subtitulos del flujo normal del documento */
    background-color: rgb(175, 175, 175);
    /* Ajustamos el fondo para que sea visible */
    padding: 10px;
    /* Agregamos un poco de espacio entre los subtitulos */
    width: auto;
    /* Ajusta el ancho al contenido */
    border-radius: 0 0 20px 20px;
}

.nombre-titulos:hover {
    background-color: rgb(207, 207, 207);
}

/* Estilo para mostrar los subtitulos cuando se pasa el ratón sobre el título */
.nombre-titulos:hover .nombre-subtitulos {
    display: block;

}

/* Estilo para los subtitulos clicables */
.nombre-subtitulos li:hover {
    cursor: pointer;
    /* Cambia el cursor al pasar sobre los subtitulos */
    background-color: rgb(207, 207, 207);
    border-radius: 25px;
}

/* Estilo para el icono */
.icono-itic {
    padding-left: 5px;
    padding-right: 10px;
    height: 70px;
    width: 50px;
}