@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

main {
height: 90vh;
display: flex;
flex-direction: column;
padding-top: 5%;
align-items: center;
font-family: "Poppins", serif;
background: radial-gradient(
    circle,
    rgb(35, 207, 237) 0%,
    rgb(7, 98, 203) 100%
);
}
h2{
    color: azure;
}
th{
    color: aliceblue;
}
table {
width: 50%;

}
td {
    /* display: flex; */
    width: 5%;
    height: 30%;
    margin: 0.25rem;
    /* flex-flow: column; */
    border-radius: 0.2rem;
    padding: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    /* -webkit-backdrop-filter: blur(4px); */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


