<main>
  <!-- Contenedor para oscurecer el fondo -->
  <div *ngIf="selectedEvent" class="overlay" (click)="closeCard()"></div>

  <h2>{{ getMonthName(currentMonth) }}, {{ currentYear }}</h2>
  
  <div class="calendari">
    <button class="arrow-button-left" (click)="previousMonth()"></button>

    <table>
      <thead>
        <tr>
          <th>Dl</th>
          <th>Dt</th>
          <th>Dc</th>
          <th>Dj</th>
          <th>Dv</th>
          <th>Ds</th>
          <th>Dg</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <ng-container *ngFor="let day of week">
            <td>{{ day.day }}
              <div *ngIf="day.eventTitle"> 
                <p class="eventTitle" (click)="showEventDetails(day.eventTitle)">{{ day.eventTitle }}</p>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <button class="arrow-button-right" (click)="nextMonth()"></button>
  </div>

  <!-- Card para mostrar detalles del evento -->
  <div *ngIf="selectedEvent" class="card">
    <div class="card-body">
      <div class="title">
        <h1 class="card-title" style="color: white; background-color: rgba(0, 0, 0, 0.407); border-radius: 20px; font-size: 35px; padding: 40px;">{{ selectedEvent.Title }}</h1>
        <button (click)="closeCard()" class="close-button">&times;</button> <!-- Botón para cerrar la tarjeta -->
      </div>
      <p class="card-text fecha" *ngIf="selectedEvent.Hour" ><img src="../../../../../../assets/iconos/calendario.png" alt="Calendario" style="padding: 20px;"> {{ selectedEvent.Date }} {{ selectedEvent.Hour }}</p>
      <p class="card-text hora" *ngIf="selectedEvent.Place" ><img src="../../../../../../assets/iconos/ubicacion.png" alt="Ubicación" style="padding: 20px;"> {{ selectedEvent.Place }}</p>
      <p class="card-text" *ngIf="selectedEvent.Description" style="padding: 20px;">{{ selectedEvent.Description }}</p>
      
      <br>
     

    </div>
  </div>

</main>