/* You can add global styles to this file, and also import other style files */
*{  
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../../Proyecte-Itic-web/iticweb/src/assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  }
  



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
