<div class="noticia-container">
    <div class="card">
        <app-mini-noticia 
        [id]="idFix"
        [titulo]="tituloFix"
        [parrafo1]="parrafo1Fix"
        [imagen]="imagenFix" 
        ></app-mini-noticia>
    </div> 
    
    <div class="noticias">
        <button class="arrow-button-left" (click)="anteriorNoticia()"></button>
        <app-mini-noticia 
        [id]="id"
        [titulo]="titulo"
        [parrafo1]="parrafo1"
        [imagen]="imagen" 
        ></app-mini-noticia>
        <button class="arrow-button-right" (click)="siguienteNoticia()"></button>
    </div>
</div>



