* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-image:linear-gradient(rgba(30, 185, 144, 0.647), rgba(0, 0, 0, 0.953)),url(src/assets/fondos/fondoMain.png);

}