<main>
    <div class="left">
        <img class="logo-itic" src="../../../../assets/logos_itic/logo quadrat Institut TIC de Barcelona (Color).png" alt="">
    </div>

    <div class="right">
        <div class="form">
            <form class="form_container" (ngSubmit)="onSubmit()">
                <div class="title_container">
                  <p class="title">Iniciar Sesión</p>
                  <span class="subtitle">Inicia sesión para poder entrar a tu área de usuario.</span>
                </div>
                <br>
                <div class="input_container">
                  <label class="input_label" for="email_field">Email</label>
                  <input placeholder="Email" title="Inpit title" name="input-name" type="text" class="input_field" id="email">
                </div>
                <div class="input_container">
                  <label class="input_label" for="password_field">Contraseña</label>
                  <input placeholder="Contraseña" title="Inpit title" name="input-name" type="password" class="input_field" id="password">
                </div>
                <div *ngIf="!isAuthenticated">
                    <p class="auth_error">Autenticación fallida. Email y/o Contraseña incorrectos.</p>
                </div>
                <button title="Sign In" type="submit" class="sign-in_btn" >
                  <span>Iniciar Sesión</span>
                </button>
                <a class="no-account" routerLink="/register">¿No tienes cuenta?</a>
              
                <div class="separator">
                  <hr class="line">
                </div>
                <button title="Sign In" type="submit" class="sign-in_google">
                  <img src="../../../../assets/iconos/Google__G__logo.svg.png" alt="Google" class="google_icon">
                  <span>Entrar con Google</span>
                </button>
            </form>
        </div>
    </div>
</main>


