<main>
    <h1>Historia</h1>
    <div class="contenido">
    <br>
    <p><strong>Any 2023</strong></p>
    <br>
    <p>Les persones responsables del CEB (Consorci d’Educació de Barcelona), com a servei territorial del
        Departament d’Educació de Catalunya, dins del pla director d’ordenació de l’oferta educativa de la ciutat de Barcelona 
        aproven la creació de l’Institut TIC de Barcelona (Institut de Tecnologies de la Informació i la Comunicació de Barcelona).</p>
    <br>   
    <p>Aquest nou centre concentrarà l’oferta educativa de formació professional, de la família d’Informàtica i Comunicacions, 
        de dos instituts de la ciutat de Barcelona: l’Institut <a href="https://www.jaumebalmes.net/">Jaume Balmes</a> i
        <a href="https://agora.xtec.cat/insjoandaustria/">l’Institut Joan d’Àustria,</a>  que deixaran d’oferir
        aquestes ofertes educatives en finalitzar el curs acadèmic 2022-2023.</p>
    <br>
    <p>
        Es determina que en aquest nou centre s’ampliarà l’oferta educativa dels dos centres d’origen, amb noves etapes i estudis,
        com els PFI, que no estaven implantats als instituts indicats.
    </p>
    </div>
</main>
